<div class="w-100 h-100 d-flex justify-content-center align-content-center">
    <MudText Typo="Typo">@Message</MudText>
</div>

@code {
    [Parameter]
    public string Message { get; set; } = "";
    [Parameter]
    public Typo Typo { get; set; } = Typo.h2;
}