@inherits LayoutComponentBase
@inject AuthService authService

<MudThemeProvider IsDarkMode="false" Theme="Theme.AppTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <div style="display: flex; flex-direction: column; justify-content: center; align-content: center; height: 100%;">
        @Body
    </div>
        
</MudLayout>