@using static BrewLab.Web.Routes
@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="2">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => _drawerOpen = !_drawerOpen)" />
        <MudText Typo="Typo.h5" Class="ml-3">BrewLab</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>

    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>

    <MudMainContent>
        @if(AuthenticationState.HasAuthenticated)
        {
            <div class="ma-3">
                @Body
            </div>
        }
        else
        {
            <MudStack Row="true" Justify="Justify.Center">
                <MudProgressCircular Color="Color.Primary" Size="Size.Large" Class="mt-lg-12" Indeterminate="true" />
            </MudStack>
            
        }

    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    [CascadingParameter]
    private AuthState AuthenticationState { get; set; } = default!;
}
