@inherits LayoutComponentBase
@inject AuthService authService

<MudThemeProvider IsDarkMode="true"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="2">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerOpen = !DrawerOpen)" />
        <MudText Typo="Typo.h5" Class="ml-3">BrewLab @(authService.User is not null ? $"| {authService.User.UserName}" : "")</MudText>
        <MudSpacer />
        <AuthorizeView>
            <Authorized>
                <MudIconButton Icon="@Icons.Material.Outlined.AccountCircle" Size="Size.Large" Class="mr-2" Href="/account/view" />
                <MudLink Href="/account/logout">Logout</MudLink>
            </Authorized>
            <NotAuthorized>
                <MudLink Href="/account/login">Login</MudLink>
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>

    <MudDrawer @bind-Open="DrawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Navegar</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    

    <MudMainContent>
        @if(authService.HasAttemptedAuthentication)
        {
            <div class="ma-3">
                @Body
            </div>
        }
        else
        {
            <Loading />
        }

    </MudMainContent>
</MudLayout>

@code {
    private bool DrawerOpen { get; set; } = true;
}
