@page "/login"
@inject AuthService authService
@inject NavigationManager navigation

<MudPaper Class="pa-4">
    <MudForm @ref="Form" @bind-IsValid="IsValid" Spacing="0" >

        <MudTextField T="string"
                      Label="Login"
                      @bind-Value="Experimenter.UserName"
                      Variant="Variant.Filled" />
        <MudTextField T="string"
                      Label="Senha"
                      InputType="InputType.Password"
                      @bind-Value="Experimenter.Password"
                      Validation="@((string password) => ExperimenterDTO.ValidatePassword(password))"
                      Variant="Variant.Filled" />

        <div class="mt-4">
            <MudButton @onclick="LoginAsync"
                       Variant="Variant.Filled"
                       Color="Color.Primary">Login
            </MudButton>
        </div>

    </MudForm>
</MudPaper>

@code {
    private MudForm Form { get; set; }
    private bool IsValid { get; set; }
    private ExperimenterDTO.Login Experimenter { get; set; } = new();

    private async Task LoginAsync()
    {
        if (!IsValid)
        {
            await Form.Validate();
            return;
        }

        navigation.NavigateTo("/Auth/login");
    }
}
