@page "/account/passwordResetEmail"
@layout LoginLayout
@inject NavigationManager navigation
@inject ExperimenterService experimenterService
@inject ISnackbar snackbar
@attribute [AllowAnonymous]

<MainForm @ref="Form" Width="20%">
    <MudTextField T="string"
                  Label="Login"
                  @bind-Value="Login"
                  Variant="Variant.Filled"
                  Validation="@((string login) => ExperimenterDTO.ValidateUserName(login))"
                  HelperText="Digite o nome de usuário da sua conta."
                  HelperTextOnFocus="true" />

    <MudButton @onclick="AttempSendResetEmailAsync"
                Variant="Variant.Filled"
                Color="Color.Primary"
                FullWidth="true">
        Recuperar
    </MudButton>
    <div class="mt-3">
        <MudLink Href="/account/login">Retornar a tela de login</MudLink>
    </div>
</MainForm>

@code {
    private MainForm Form { get; set; } = default!;
    private bool IsValid { get; set; }

    private string Login { get; set; } = default!;

    public async Task AttempSendResetEmailAsync()
    {
        if (!Form.Validate()) return;

        var baseUrl = navigation.BaseUri;
        var result = await experimenterService.SendPasswordRecoveryEmailAsync(Login, baseUrl);

        if (!result.Success)
        {
            Form.AddErrors(result.Errors);
            return;
        }
        else
        {
            snackbar.Add("Email enviado com sucesso. Verifique sua caixa de entrada, por favor.", Severity.Success);
            navigation.NavigateTo("/account/login");
        }
    }
}
